{% extends 'profile_layout.html.twig' %}

{% block main_content %}
    {{ form_errors(form) }}
    {{ form_start(form, {'attr': {'class': 'ui form'}}) }}


    <div class="field required">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="field required">
        {{ form_label(form.regions) }}
        {{ form_widget(form.regions) }}
    </div>


    <div class="one fields">
        <div class="four wide field">
            {{ form_label(form.minMortgage) }}
            {{ form_widget(form.minMortgage) }}
        </div>
        <div class="four wide field">
            {{ form_label(form.maxMortgage) }}
            {{ form_widget(form.maxMortgage) }}
        </div>
        <div class="eight wide field">
            <label>بازه رهن</label>
            <div id="mortgage-slider">
            </div>
        </div>
    </div>

    <div class="fields">
        <div class="four wide field">
            {{ form_label(form.minRent) }}
            {{ form_widget(form.minRent) }}
        </div>
        <div class="four wide field">
            {{ form_label(form.maxRent) }}
            {{ form_widget(form.maxRent) }}
        </div>
        <div class="eight wide field">
            <label>بازه اجاره</label>
            <div id="rent-slider">
            </div>
        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <div class="field required">
                {{ form_label(form.jobTypes) }}
                {{ form_widget(form.jobTypes) }}
            </div>
        </div>
        <div class="field">
            <div class="field required">
                {{ form_label(form.ageRanges) }}
                {{ form_widget(form.ageRanges) }}
            </div>
        </div>
        <div class="field">
            <div class="field required">
                {{ form_label(form.features) }}
                {{ form_widget(form.features) }}
            </div>
        </div>
    </div>

    <div class="three fields">
        <div class="field">
            <div class="field required">
                {{ form_label(form.startDate) }}
                {{ form_widget(form.startDate) }}
            </div>
        </div>
        <div class="field">
            <div class="field required">
                {{ form_label(form.dueDate) }}
                {{ form_widget(form.dueDate) }}
            </div>
        </div>
        <div class="field">
            <div class="field required">
                {{ form_label(form.dimension) }}
                {{ form_widget(form.dimension) }}
            </div>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <div class="field required">
                {{ form_label(form.smoker) }}
                {{ form_widget(form.smoker) }}
            </div>
        </div>
        <div class="field">
            <div class="field required">
                {{ form_label(form.culturally) }}
                {{ form_widget(form.culturally) }}
            </div>
        </div>
        <div class="field">
            <div class="field required">
                {{ form_label(form.wakeful) }}
                {{ form_widget(form.wakeful) }}
            </div>
        </div>
        <div class="field">
            {{ form_label(form.guest) }}
            {{ form_widget(form.guest) }}
        </div>
    </div>

    <h4 class="ui">تصاویر</h4>
    <table class="ui very basic collapsing celled table photos-wrapper" data-number-of-files="{{ householder.photos|length }}">
        <thead>
        <tr><th></th>
            <th>عملیات</th>
        </tr></thead>
        <tbody>
        {% if householder.photos is not empty %}
        {% for photo in householder.photos %}
        <tr>
            <td>
                <h4 class="ui image header">
                    <a href="/{{ photo.webPath }}" data-lightbox="{{ photo.id }}" >
                        <img class="ui mini rounded image" src="{{ photo.webPath |imagine_filter('thumb') }}" />
                    </a>
                </h4>
            </td>
            <td>
                <a  data-status="0" data-file-id="{{ photo.id }}" class="ui button small red existing-image">حذف</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <tr></td>
                <td colspan="2">
                    there is no image
                </td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th>
                <div id="progress"><div class="bar" style="width: 0%;"></div></div>
            </th>
            <th colspan="4">
                <label for="fileupload" class="ui small button green">
                    انتخاب فایل
                    <input style="display: none" id="fileupload" type="file" name="files[]" data-url="/app_dev.php/media/upload/image" multiple >
                </label>
            </th>
        </tr>
        </tfoot>
    </table>

    <div class="field">
        <div class="field required">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
    </div>

    <div id="rent-slider">
    </div>
    <input type="submit" value="ثبت">
    {{ form_end(form) }}


{% include ':modal:delete-approve.html.twig' %}

{% include ':modal:upload-limit.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/bower_components/nouislider/distribute/nouislider.min.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/JalaliJSCalendar/jalali.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/JalaliJSCalendar/calendar.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/JalaliJSCalendar/calendar-setup.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/JalaliJSCalendar/lang/calendar-fa.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/blueimp-file-upload/js/jquery.fileupload.js") }}"></script>
    <script src="{{ asset("bundles/app/bower_components/lightbox2/dist/js/lightbox.min.js") }}"></script>
    <script>
        $(document).ready(function(){


            $('#householder_regions').dropdown();
            $('#householder_jobTypes').dropdown();
            $('#householder_ageRanges').dropdown();
            $('#householder_features').dropdown();

            var minMortgageInput = document.getElementById('householder_minMortgage');
            var maxMortgageInput = document.getElementById('householder_maxMortgage');
            var mortgageSlider = document.getElementById('mortgage-slider');

            noUiSlider.create(mortgageSlider, {
                start: [ $(minMortgageInput).val(), $(maxMortgageInput).val() ],
                connect: true,
                step: 1,
                range: {
                    'min': 0,
                    'max': 100
                }
            })

            mortgageSlider.noUiSlider.on('update', function( values, handle ) {

                var value = values[handle];

                if ( handle ) {
                    maxMortgageInput.value = value;
                } else {
                    minMortgageInput.value = value;
                }
            });

            minMortgageInput.addEventListener('change', function(){
                mortgageSlider.noUiSlider.set([this.value, null]);
            });

            maxMortgageInput.addEventListener('change', function(){
                mortgageSlider.noUiSlider.set([null, this.value]);
            });

            var minRentInput = document.getElementById('householder_minRent');
            var maxRentInput = document.getElementById('householder_maxRent');
            var rentSlider = document.getElementById('rent-slider');

            noUiSlider.create(rentSlider, {
                start: [ $(minRentInput).val(), $(maxRentInput).val() ],
                connect: true,
                step: 1,
                range: {
                    'min': 0,
                    'max': 100
                }
            });

            rentSlider.noUiSlider.on('update', function( values, handle ) {

                var value = values[handle];

                if ( handle ) {
                    maxRentInput.value = value;
                } else {
                    minRentInput.value = value;
                }
            });

            minRentInput.addEventListener('change', function(){
                rentSlider.noUiSlider.set([this.value, null]);
            });

            maxRentInput.addEventListener('change', function(){
                rentSlider.noUiSlider.set([null, this.value]);
            });

            Calendar.setup({
                inputField: 'householder_startDate',
                button: 'householder_startDate',
                ifFormat: '%Y/%m/%d',
                dateType: 'jalali'
            });
            Calendar.setup({
                inputField: 'householder_dueDate',
                button: 'householder_dueDate',
                ifFormat: '%Y/%m/%d',
                dateType: 'jalali'
            });


            $collectionHolder = $('table.photos-wrapper tbody');
            $collectionHolder.data('index', $collectionHolder.find(':input[type="hidden"]').length);
            $('#fileupload').fileupload({
                dataType: 'json',
                acceptFileTypes: '/(\.|\/)(gif|jpe?g|png)$/i',
                maxFileSize: 10000000,
                maxNumberOfFiles: 5,

                done: function (e, data) {
                    console.info('done', data);
                    data.context.find('td:nth-child(1)').text('بارگذاری شده');
                    data.context.find('td:nth-child(2) button.remove')
                            .data('status', 2)
                            .data('fileId', data.result.files[0].id);
                    data.context.find('td:nth-child(2) button.upload').remove()
                    addPhotoForm($collectionHolder, data.context, data.result.files[0].id)
                },
                add: function (e, data) {
                    if ($('table.photos-wrapper').data('numberOfFiles') == 5) {
                        $('.ui.basic.modal.upload-limit')
                            .modal('show')
                        ;
                        return false;
                    }
                    var numberOfFiles = $('table.photos-wrapper').data('numberOfFiles');
                    $('table.photos-wrapper').data('numberOfFiles', numberOfFiles + 1);

                    console.info('add', data);
                    $tr = $('<tr/>');
                    $td1 = $('<td/>').text('بارگذاری نشده');
                    $td2 = $('<td/>');
//                    $item = $('<tr><td>Not uploaded</td><td></td></tr>').appendTo($collectionHolder);
                    $upButton = $('<button/>').attr('class', 'ui button small blue upload').text('بارگذاری').click(function (ev) {
                        ev.preventDefault();
                        data.context.find('td:nth-child(1)').text('در حال بارگذاری ...')
                        data.submit();
                    });

                    $rmButton = $('<button/>')
                            .attr('class', 'ui button small red remove')
                            .text('حذف')
                            .data('status', 1)
                            .click(removeImage);

                    $upButton.appendTo($td2);
                    $rmButton.appendTo($td2);
                    $td1.appendTo($tr);
                    $td2.appendTo($tr);
                    $tr.appendTo($collectionHolder);

                    data.context = $tr;
                },
                fail: function (e, data) {
                    if (data.jqXHR.status == 500) {
                        alert('خطا در بارگذاری');
                        data.context.find('td:nth-child(1)').text(data.jqXHR.responseText);
                        data.context.find('td:nth-child(2) button.upload').remove()
                    } else {
                        alert('حجم فایل بارگذاری شده بیشتر از حد مجاز است.');
                        data.context.find('td:nth-child(1)').text('خطای بارگذاری');
                        data.context.find('td:nth-child(2) button.upload').remove()
                    }
                },
                progressall: function (e, data) {
                    console.log(data);
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                            'width',
                            progress + '%'
                    );
                },
            });
        })

        removeImage = function(ev) {
            ev.preventDefault();
            var self = this;
            $('.ui.basic.modal.delete')
                .modal({
                    closable  : false,
                    onDeny    : function(){
                    },
                    onApprove : function() {
                        if ($(self).data('status') == 0) {
                            files = $('#householder_photos').prop('value');
                            files = files.split(',');
                            var index = files.indexOf($(self).data('fileId').toString());
                            if (index >= 0) {
                                files.splice( index, 1 );
                            }
                            $('#householder_photos').prop('value', files);
                            $(self).closest('tr').remove();
                        } else if($(self).data('status') == 2) {
                            files = $('#householder_photos').prop('value');
                            files = files.split(',');
                            var index = files.indexOf($(self).data('fileId').toString());
                            if (index >= 0) {
                                files.splice( index, 1 );
                            }
                            $('#householder_photos').prop('value', files);
                            $(self).closest('tr').remove();
                        } else  {
                            $(self).closest('tr').remove();
                        }

                        var numberOfFiles = $('table.photos-wrapper').data('numberOfFiles');
                        $('table.photos-wrapper').data('numberOfFiles', numberOfFiles - 1);
                    }
                })
                .modal('show')
            ;
        }

        $('.existing-image').click(removeImage);

        function addPhotoForm($collectionHolder, $context, fileId) {

            $context.data('fileId', fileId);
            $context.attr('fileId', fileId);
            $('#householder_photos').prop('value', $('#householder_photos').attr('value') ? $('#householder_photos').attr('value') + ',' + fileId: fileId.toString())
        }


    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/bower_components/nouislider/distribute/nouislider.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/bower_components/JalaliJSCalendar/skins/aqua/theme.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/plugins/fine-uploader/fine-uploader-new.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/bower_components/lightbox2/dist/css/lightbox.min.css") }}">
    <style>
        .bar {
            height: 18px;
            background: green;
        }
    </style>
{% endblock %}

