{% extends ':default:layout.html.twig' %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class = "container">
        <div class="wrapper">
            <form action="{{ path('login_check') }}" method="post" class="form-signin">
                <h3 class="form-signin-heading">خوش آمدید! لطفا وارد شوید</h3>
                <hr class="colorgraph"><br>

                <input placeholder="نام کاربری (پست الکترونیکی)" type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />

                <input placeholder="رمز عبور" type="password" id="password" name="_password" class="form-control" />

                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">مرا به خاطر بسپار!</label>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="ورود" type="Submit">ورود</button>
            </form>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    .wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
    }

    .form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    }

    .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
    }

    .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    }

    input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }

    input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
    </style>
{% endblock %}